{% extends 'base.html' %}

{% block head %}
    <title>Home | Socio-Network</title>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-md-8">
            <h1>Home</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.post }}
                <br>
                <button type= "submit" class="btn btn-primary">Submit</button>
            </form>
            <br>
        {% for post in posts %}
            <div style="background: #DCDCDC " !important class="jumbotron">
                <p><h6>Posted by {{ post.user.get_full_name }} on {{ post.created }}</h6></p>
                <h4>{{ post.post }}</h4>
            </div>
        {% endfor %}
    </div>

    <div class="col-md-4 ">
        <div class="jumbotron" id="other">

            <style>

                #other {

                    background-color: #DCDCDC !important;
                    min-height: 150px;
                    position: relative;
                    margin-top: 5em;
                    padding-top: 1%;
                }
                .container .jumbotron {
                    padding-top: 10px;
                    padding-left: 15px;
                }
            </style>
            <h2 style="text-align: center">Friends</h2>
            {% for friend in friends %}
                <a href="{% url 'accounts:view_profile_with_primary_key' pk=friend.pk %}">
                    <h3>
                        {{ friend.username }}
                    </h3>
                </a>
                <a href="{% url 'home:change_friends' operation='remove' pk=friend.pk %}">
                <button type="button" class="btn btn-danger btn-xs" style="float: right">Remove Friend</button>
                </a>
            {% endfor %}
        </div>

        <div class="jumbotron" id="other">
            <h2 style="text-align: center">Other People</h2>
            {% for user in users %}
                {% if user not in friends %}
                    <h3>
                        <a href="{% url 'accounts:view_profile_with_primary_key' pk=user.pk %}">{{ user.username }}
                        </a>
                    </h3>
                <a href="{% url 'home:change_friends' operation='add' pk=user.pk %}">
                <button type="button" class="btn btn-success btn-xs pull-right">Add Friend</button>
                </a>
                {% endif %}
                {% endfor %}
        </div>

    </div>
    </div>
{% endblock %}