{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
{% block link %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static '../static/sttyle.css' %}?v=22" type="text/css">
{% endblock %}
    {% block head %}
    <title>Base</title>
    {% endblock %}
</head>
<body>

   <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Social Network</a>
    </div>
    {% if user.is_authenticated %}
    <ul class="nav navbar-nav">
        <li><a href="/account" >Home</a></li>
        <li><a href="{% url 'accounts:profile' %}" >Profile</a></li>
        <li><a href="{% url 'accounts:edit_profile' %}" >Edit Profile</a></li>
        <li><a href="{% url 'accounts:change_password' %}" >Change Password</a></li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{% url 'accounts:logout' %}"><span class="glyphicon glyphicon-user"></span> Log Out</a></li>

    </ul>
      {% else %}
        <ul class="nav navbar-nav">
        <li>
            <a href="{% url 'accounts:password_reset' %}">Reset Password</a>
        </li>
        </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'accounts:login' %}" >Log in</a></li>
        <li><a href="{% url 'accounts:register' %}"><span class="glyphicon glyphicon-user"></span> Register</a></li>

    </ul>
      {% endif %}
  </div>
</nav>

<br><br>
{% block body %}
    <h1>Base</h1>
{% endblock %}
</body>
</html>